body{
	text-align: center;
	background-color: #88ADFF;
	color: #FFF;
	font-family: 'Inter','rocknRoll One', sans-serif;
}
#center{
	max-width: 650px;
	width: 99%;
	margin: 0 auto;
	text-align: left;
}
.name-text{
	letter-spacing: 0.3em;
	padding-top: 55px;
	margin-bottom: 0%;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
}
.small-text{
	padding-bottom: -10px;
	padding-left: 73px;
	margin-top: 0%;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.3em;
}
.logo-img{
	padding-top: 73px;
	width: 60px;
	display: inline-block;
	vertical-align: top;
}
#box{
	margin-top: 150px;
	width: 88%;
	letter-spacing: 0.03em;
	padding: 1em 2em;
	border-radius: 20px;
	background-color: #EEF4FF;
	color: #0F0F0F;
}
#box2{
	margin-top: 25px;
	width: 88%;
	padding: 1em 2em;
	border-radius: 20px;
	background-color: #EEF4FF;
	color: #0F0F0F;
}
#box3{
	margin-top: 25px;
	margin-bottom: 100px;
	width: 88%;
	padding: 1em 2em;
	border-radius: 20px;
	background-color: #EEF4FF;
	color: #0F0F0F;
}
h2{
	font-weight: bold;
}
a{
	color: #6091D3;
}
p{
	margin-top: 10px;
	font-size: 15px;
}
.copyright{
	margin-top: 10px;
	font-size: 15px;
	margin-bottom: 150px;
	letter-spacing: 0.2em;
}
ul {
  	list-style: none;
}
li {
	margin-bottom: 10px;
}
